@import "../../styles/constants.scss";

.wrapperSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 80px;
}

.titleBlog {
  text-align: center;
  margin: 40px 0px;
  color: $mainFontColor;
  font-family: $font-family;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

.line {
  background: #bebebe;
  width: 1280px;
  height: 1px;
}

.lineWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapperImage {
  position: relative;
}

.dataWrapper {
  width: 91px;
  height: 24px;
  display: flex;
  padding: 2px 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0px;
  background: #fff;
}

.image {
  width: 628px;
  height: 392px;
}

.cardWrapper {
  height: 392px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  width: 1280px;
}

.button {
  display: flex;
  width: 140px;
  height: 53px;
  justify-content: center;
  align-items: center;
  border: 1px solid $mainFontColor;
  color: $mainFontColor;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: black;
    color: white;
  }
}

.wrapperBlock {
  padding: 24px 24px 24px 0px;
  width: 628px;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 628px;
}

.title {
  color: $mainFontColor;
  font-family: $font-family;
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
}

.text {
  color: #898989;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}
