@import "../../styles/constants.scss";

.test {
  display: flex;
  align-items: center;

  @include media(tablet) {
    flex-direction: row-reverse;
  }
}

.navigation {
  display: flex;
  align-items: center;
  max-width: 1440px;
  height: 81px;

  @include media(tablet) {
    width: 100%;
    justify-content: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 80px;

  @include media(tablet) {
    margin-left: 0px;
  }
}

.logoText {
  color: $mainFontColor;
  font-family: $font-family-main;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  padding-left: 5px;
}
