$mainFontColor: #151515;
$WhiteFlightColor: #F2F2F2;

$font-family-main: Poppins, sans-serif;
$font-family: 'Raleway', sans-serif;

$mobile: 480px;
$tablet: 960px;
$laptop: 1280px;
$desktop: 1440px;
$max-content-width: 1280px;

@mixin media($breakpoint) {
  @if $breakpoint ==mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint ==laptop {
    @media only screen and (max-width: $laptop) {
      @content;
    }
  }

  @if $breakpoint ==desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }

  @if $breakpoint ==tabletMin {
    @media only screen and (min-width: 481px) {
      @content;
    }
  }

  @if $breakpoint ==laptopMin {
    @media only screen and (min-width: 961px) {
      @content;
    }
  }
}
