@import "../../styles/constants.scss";

.wrapper {
  width: 100%;
}

.title {
  color: $mainFontColor;
  font-family: $font-family;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 40px 0px;
  text-align: center;

  @include media(tablet) {
    font-size: 40px;
    justify-content: center;
    display: flex;
    margin: 32px 0px;
  }
}

.line {
  background: #898989;
  width: 1280px;
  height: 1px;

  @include media(tablet) {
    margin: 0px 32px;
  }
}

.text {
  margin-bottom: 80px;
  color: #333;
  text-align: center;
  font-family: $font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;

  @include media(tablet) {
    margin: 32px 0px;
  }
}

.textWrapper {
  width: 846px;
}

.infowrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link {
  color: #333;
  text-decoration: underline;
}

.lineWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
