@import "../../styles/constants.scss";

.footer {
  width: 100%;
  background-color: $WhiteFlightColor;
  padding: 40px 80px 0px 80px;
}

.wrapperSectionContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px;
}

.logoWrapper {
  text-align: center;
}

.textLogo {
  color: $mainFontColor;
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
}

.iconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include media(tablet) {
    display: none;
  }
}

.arrow {
  position: absolute;
}

.box {
  display: flex;
  justify-content: space-between;
  max-width: 1048px;
  width: 100%;

  @include media(tablet) {
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.columnDesktop {
  @include media(tablet) {
    display: none;
  }
}

.columnMobile {
  margin-top: 20px;

  @include media(laptopUp) {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  @include media(tablet) {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 200ms ease-in;
  }
}

.listOpen {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 0;
  max-height: 220px;
  transition: all 200ms ease;
}

.link {
  color: $mainFontColor;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
}

.link:not(:last-child) {
  padding-bottom: 16px;
}

.info {
  @include media(tablet) {
    display: flex;
    flex-direction: column;
  }
}
